@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid red; */
}

.ContainerMini{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid red; */
}

.navLink{
  text-decoration: none;
  color: inherit;
}


.Hrline{
  height: 1px;
 background-color: 1px solid var(--Border-Border-1, #DDE1DE);
}




